body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.header-bg {
    background: rgb(78,200,255);
    background: linear-gradient(180deg, #54caff 0%, #FFFFFF 100%);
    min-width: 960px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 12px 0;
}

.header a {
    color: #000000;
    text-decoration: none;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 24px;
}

.header span {
    font-size: 18px;
    margin-left: 5px;
}

.header .header-right {
    display: flex;
}

.header .header-right a {
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.container .nav {
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;
}

.container .nav a {
    text-decoration: none;
    color: #0063d4;
    margin-right: 15px;
}

.container .nav a.active {
    color: black;
}

.container .nav a:hover {
    text-decoration: underline;
}

.container h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
}

.container .main-card {
    background: #f7d250;
    padding: 15px;
    margin-top: 15px;
}

.container .main-card h1 {
    color: #000000;
    font-size: 24px;
    margin: 0;
}

.container .main-card p {
    color: #000000;
    font-size: 16px;
}

.container .main-card .button {
    padding: 5px 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0063d4;
    text-decoration: none;
    font-size: 14px;
    border-color: #ffffff80;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
}

.container .grid {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
}

.container .grid-item {
    flex: 1;
    max-width: 30%;
    margin: 0 10px;
    box-sizing: border-box;
}

.container .grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.container .grid-item h2 {
    font-size: 18px;
    font-weight: normal;
    color: #0063d4;
    margin: 0;
}

.container .grid-item p {
    font-size: 14px;
    color: #000000;
    margin: 2px 0;
}

.container .blog-post {
    margin-top: 15px;
}

.container .blog-post .title-link {
    text-decoration: none;
}

.container .blog-post h2 {
    font-size: 24px;
    color: #000000;
    margin: 0;
}

.container .blog-post h3 {
    font-size: 13px;
    color: #000000;
    opacity: 50%;
    font-weight: normal;
    margin: 0;
}

.container .blog-post p {
    font-size: 16px;
    color: #000000;
}

.container .content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    max-width: 960px;
    padding: 0 15px;
}

.container .sign-up-how {
    flex: 1;
    max-width: 45%;
    margin-right: 20px;
}

.container .sign-up-how ol li {
    font-size: 14px;
    margin-bottom: 5px;
}

.container .separator {
    width: 1px;
    background-color: #e0e0e0;
    margin-right: 20px;
}

.container .sign-in {
    flex: 1;
    max-width: 45%;
}

.container .sign-in form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.container .sign-in label {
    font-size: 14px;
    margin-bottom: 5px;
}

.container .sign-in input {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.container .sign-in button {
    padding: 5px 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0063d4;
    text-decoration: none;
    font-size: 14px;
    border-color: #ffffff80;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
}

.container .sign-up {
    margin-top: 15px;
}

.container .sign-up form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.container .sign-up label {
    font-size: 14px;
    margin-bottom: 5px;
}

.container .sign-up input {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.container .sign-up button {
    padding: 5px 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0063d4;
    text-decoration: none;
    font-size: 14px;
    border-color: #ffffff80;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
}

.footer {
    padding: 15px 0;
    color: #000000;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer hr {
    width: 100%;
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left a {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-left .logo {
    display: flex;
    align-items: center;
}

.footer-left .logo img {
    height: 24px;
}

.footer-left .logo span {
    font-size: 18px;
    margin-left: 5px;
    color: #000000;
}

.footer-left p {
    font-size: 14px;
    margin: 0;
    color: #333333;
}

.footer-right {
    display: flex;
    gap: 15px;
    margin: 0;
}

.footer-right a {
    color: #0063d4;
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
}

.footer-right a:hover {
    text-decoration: underline;
}
